/* *{
 margin: 0;
 padding: 0;
} */
/* body{
 background-image: url(/img/bg.webp);
 background-attachment: fixed;
} */
/* .parent{
 background: #f74;
 color: #454652;
 margin: 20px auto;
 width: 92%;
 padding: 2%;
 max-width: 1140px;
 min-width: 600px;
} */
/* .child{
 background: #f7856f;
 margin-top: 20px;
 margin-left: 20px;
 padding-left: 20px;
 padding-top: 20px;
} */
 /* .child{
  background: #f7469f;
  margin: 20px 30px;
  padding-left: 30px;
  color: #fff;
 } */
/* h1{
 text-align: center;
 border-width: 10px;
 border-style: none;
 border-style: groove;
 border-color: cadetblue;
 border: 10px solid blue;
 border-radius: 15px;
 border-top: 5px solid greenyellow;
 border-top-style: dashed;
 border-left-style: double;
 border-bottom-style: dotted;
} */
/* css comment */
/* h1 => Selector
color => Property 
Red   => Value 
*     => Universal Selector
.  => class Selector
#  => Id Selector
,  => Group
*/
/* h1{
  font-size: 60px; 
 margin: 10px;     
 color: burlywood;
}
p{
 color: blueviolet;
 font-size: 18px;
} */
/* div{
 width: 200px;
 height: 200px;
 background: aqua;
 margin-bottom: 20px;
}
div p{
 color: blue;
}
.text-md{
 color: purple;
 text-align: right;

}
.first-div{
 background: blue;
}
.first-div p{
 color: wheat;
}
.first_div{
 margin: 0;
}
#Big_div, 
#Big_div_2{
 width: 400px;
} */
 /* h1{
  font-size: 60px; 
 margin: 10px;     
 color: burlywood;
}
p{
 color: blueviolet;
 font-size: 18px;
} */
/* Color */
/* h2{
 font-size: 50px;
 font-family: Arial, Helvetica, sans-serif;
 color: aqua;
 color: red;
 color: #000000;
 color: #0000ff;
 color: #00ff00;
 color: #ff0000;
 color: rgb(red, green, blue);
 color: rgb(255, 255, 255);
 color: rgb(0, 255, 255);
 color: rgb(0, 0, 255);
 color: rgba(0, 0, 255, 0.3);
} */


/* Fixed_Width */
/* .parent{
 background: #574b90;
 color: #fff;
 width: 300px;
 margin: 10px;
 padding: 20px;
 border: 10px solid turquoise;
 float: left;
} */


/* h1{
  text-align: center;
  padding: 2%;
} */
 /* flow_width */
/* .parent{
 background: #574b90;
 color: #fff;
 width: 24%;
 margin: 1%;
 padding: 2%;
 border: 0.5em solid turquoise;
 float: left;
} */
/* p{
  margin-bottom: 20px;
} */
/* Text Align Last */
/* .one{
  text-align-last: center;
} */

/* Text Align */
/* .two{
  text-align: center;
} */

/* Direction */
/* .three{
direction: rtl;
unicode-bidi: bidi-override;
}
.baseline{
  vertical-align: baseline;
}
.text-top{
  vertical-align: text-top;
}
.text-bottom{
  vertical-align: text-bottom;
}
.sub{
  vertical-align: sub;
}
.sup{
  vertical-align: super;
}
a{
  text-decoration: none;
}
h2{
  text-shadow: 0px 0px 1px #111;
  text-transform: capitalize;
  letter-spacing: 5px;
  padding: 10px;
}
p{
  text-indent: 50px;
  font-size: 15px;
  line-height: 20px;
  white-space: break-spaces;

} */

/* h2{
  font-family: serif;
  font-family: sans-serif;
  font-family: monospace;
  font-family: cursive;
  font-family: fantasy;
  font-family: 'Times New Roman';
  font-family: 'Georgia';
  font-family: Arial;

} */
/* h3{
  font-size: 50px;
  font-style: italic;
  font-style: oblique;
  font-style: initial;
  font-weight: bold;
}
p{
 margin: 10px;
 padding: 10px;
 background: rgba(100, 149, 237, 0.6);
 color: #fff;
} */

/* table,
th,
td{
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 5px 10px;

}
table{
  width: 100%;
}
th{
  color: #fff;
  border: 1px solid cornflowerblue ;
  background: cornflowerblue;
  height: 50px;
  text-align: left;
}
td{
   color: #fff;
  border: 1px solid #ddd ;
  background: rgb(128, 0, 222);
  height: 30px;
  vertical-align: center;
}
tr:hover th,
tr:hover td{
  background-color: blanchedalmond;
}
div{
  width: 450px;
 overflow: hidden;
 overflow-x: auto;
 overflow-y: auto;
} */

/* h1,
p, 
span,
a,
h3{
  color: #fff;
  background: teal;

}
h1{
  display: inline-block;
}
span{
  display: block;
}
h3{
  display: none;
}
a.btn{
  background: violet;
  color: #fff;
  padding: 10px 25px ;
  display: inline-block;
  border-radius: 20px;

} */
/* body{
  margin: 0;
}
div{
  background: powderblue;
  width: 400px;
  height: 400px;
    margin: 0;
 
}
.main{
  position: relative;
  top: 50px;
  left: 50px;
}
.sec{
  background: blueviolet;
  width: 100px;
  height: 100px;
  right: 10px;
  bottom: 10px;
  position: fixed;
}
.child{
  background: plum;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 4;
}
.child2{
  background: peru;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 3;
 
}
.stk{
  background: gold;
  width: 100%;
  height: 100px;
  position: sticky;
  bottom: 0;
  left: 0;
}
.child3{
  background: blue;
  width: 200px;
  height: 200px;
  left: auto;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 2;
} */
 /* .div{
  background: #2d3436;
  color: cadetblue;
  padding: 20px 1%;
  width: 30%;
  margin-bottom: 20px;
  float: left;
  margin-left: 5px;
 }
 img{
  float: inherit;
  display: block;
  margin: 0 auto;

 }
 .parent{
  border: 5px solid red;
  overflow: auto;
  overflow: hidden;
 }
 #nav{
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #192a56;
 }
 #nav li{
  float: left;

  
 }
#nav li a{
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  text-decoration: none;
}
#nav li a:hover{
background: darkorange;
}
#Display{
  background: #201a25;
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}
#Display li{
  display: inline-block;
}
#Display li a{
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  text-decoration: none;
}
#Display li a:hover{
background: darkorange;
}
#menu{
  background: #192a56;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}
#menu li{
display: inline-block;

}
#menu li a{
  display: inline-block;
  color: #fff;
  padding: 12px 15px;
  text-decoration: none;
  font-family: sans-serif;

}
#menu li a:hover{
  background: red;
  color: yellow;

} */
 